<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
    <title>Editar Productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebarAdmin') %>
    <!-- Page content -->
    <div class="admin">
        <%- include('../partials/productsNav') %>
        
        <h1>Administrar Productos</h1>
        <h3>Agregá los articulos a la base de datos</h3>
        <form action="/products/edit/<%- editProduct.id %>?_method=PUT" method="post" class="admin__form">
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá el nombre del producto</label>
                <input class="admin__input" name="name" type="text" id="product-text" required value="<%- editProduct.name %>" minlength="4" maxlength="20">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-clasf">Ingresá la categoría</label>
                <select name="type" id="product-clasf" value="<%- editProduct.clasf %>" required>
                    <option value="Planta Floral">Planta Floral</option>
                    <option value="Aromatica">Aromatica</option>
                    <option value="frutal">frutal</option>
                    <option value="categoria3">Arbusto</option>
                    <option value="Arbusto">Suculenta</option>
                </select>
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-care">Seleccioná el cuidado del producto</label>
                <select name="careLevel" id="product-care" value="<%- editProduct.careLevel %>" required>
                    <option value="Básico">Básico</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Experto">Experto</option>
                </select>
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-description">Ingresá la descripción del producto</label>
                <textarea class="admin__textarea" name="description" id="product-description" cols="25" rows="4" maxlength="100" value="<%- editProduct.description %>"></textarea>
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="stock">Stock inicial del producto</label>
                <input class="admin__input" name="stock" type="number" id="stock" value="0" min="0" max="1000" value="<%- editProduct.stock %>" required >
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-price">Ingresá el precio del producto a adicionar al inventario</label>
                <input class="admin__input" name="price" type="number" id="product-price" min="500" required max="100000" value="<%- editProduct.price %>" step=100>
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="label">Seleccionar una etiqueta para el producto</label>
                <select name="label" id="label" value="<%- editProduct.label %>" required>
                    <option value="none">None</option>
                    <option value="Oferta">Oferta</option>
                    <option value="Mas vendida">Mas vendida</option>
                </select>
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-image">Seleccioná la imagen para el producto</label>
                <input class="admin__input" value="<%- editProduct.img %>" name="img" type="text" id="product-image" accept="/image*">
            </div>
            <!-- <div class="admin__form--item">
                <label class="admin__label" for="product-size">Ingresá el tamaño del articulo en cm</label>
                <input class="admin__input" name="size" type="number" id="product-size" min="50" max="100" value="50">
            </div> -->
            <div class="admin__buttons">
                <div>
                    <input class="admin__buttons--input btnStyle2" type="reset" value="Limpiar formulario">
                </div>
                <div>
                    <input class="admin__buttons--input btnStyle2" type="submit" value="Editar">
                </div>
            </div>
        </form>
        <form action="/products/delete/<%- editProduct.id %>?_method=DELETE" method="post">
            <div>
                <input class="admin__buttons--input btnStyle2" type="submit" value="Eliminar">
            </div>
        </form>
    </div>

</body>
</html>