<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
    <title>Agregar Productos</title>
</head>
<body>
    <%- include('../partials/header') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebarAdmin') %>

    <!-- Page content -->
    <div class="admin">
        <%- include('../partials/productsNav') %>
        <h1>Administrar Productos</h1>
        <h3>Estos son los artículos de la base de datos</h3>

        <!-- CSS A PARTIR DE LINEA 531 EN STYLES -->
        <!-- <div class="admin__itemList">
            <img src="/img/plantas/Aglaonema.png" alt="Aglaonema" class="admin__itemImg">
            <span class="admin__itemName">Aglaonema</span>
            <span class="admin__itemStock">Stock</span>
        </div> -->
        <div class="table-conteiner">
        <table class="list-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>imagen</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                    <th>precio</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    <%  products.forEach( prod => { %>
                    <tr>
                        <td><%= prod.id %></td>
                        <td><div class="list-table__img-conteiner"><img src= <%= prod.img %> alt="aglaonema"></div></td>
                        <td><%= prod.name %></td>
                        <td><%= prod.type %></td>
                        <td><%= prod.stock %></td>
                        <td><%= prod.price %></td>
                        <td>
                            <a href="/products/edit/<%= prod.id-1 %>" class="table-btn" >
                                <span>Editar<i class="fa-solid fa-pencil-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                    <% } ) %>
            </tbody>
        </table>
    </div>
    </div>
        <!-- CSS A PARTIR DE LINEA 531 EN STYLES -->
</body>
</html>