<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
        <title>Editar Productos</title>
</head>

<body>
    <%- include('../partials/header') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebarAdmin') %>
        <!-- Page content -->
    <div class="admin">
        <%- include('../partials/productsNav') %>

        <h1>Administrar Productos</h1>
        <!-- Formulario de edicion de productos -->
        
        <form action="/products/edit/<%=editProduct.id%>?_method=PUT" method="post" class="admin__form" enctype="multipart/form-data">
            
            <div class="admin-form__conteiner">
                    <h3 class="span-2">Editar productos</h3>
                    <!-- Nombre del producto -->
                    <div  class="adminForm__inputConteiner <%= locals.errors && errors.email ? "inputFailure" : "inputSuccess" %>">
                        <label class="admin-form__label" for="name">Nombre del producto</label>
                        <input class="admin__input" name="name" type="text" id="name" 
                        value="<%= locals.editProduct ?  editProduct.name : '' %>"  />
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- imagen del producto -->
                
                    <div class="img-conteiner-edit adminForm__inputConteiner flex-column">
                        <label for="product-img" class="admin-form__label">Imagen del producto</label>
                        <img  id="product-img" name="product-img" class="img-edit" src="<%= editProduct.img %>"
                        alt="<%= editProduct.name %>" />
                    </div>
                    <!-- descipcion del producto -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="description"> Descripción del producto</label>
                        <textarea class="admin__input" class="admin__textarea" name="description" id="description" cols="25"
                            rows="4" maxlength="200"><%= locals.editProduct ? editProduct.description : '' %></textarea>
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger">
                                    <%= errors.description.msg %> 
                                </div>
                            <% } %>
                        </div>
                    <!-- id de categoria del producto -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="category_id"> Categoría</label>
                        <select class="admin__input" name="category_id" id="category_id" required>
                            <option <%= locals.editProduct && editProduct.category_id == 1 ? "selected" : ""%> value="1">Planta Floral</option>
                            <option <%= locals.editProduct && editProduct.category_id == 2 ? "selected" : ""%> value="2">Aromatica</option>
                            <option <%= locals.editProduct && editProduct.category_id == 3 ? "selected" : ""%> value="3">Arbusto</option>
                            <option <%= locals.editProduct && editProduct.category_id == 4 ? "selected" : ""%> value="4">Suculenta</option>
                            <option <%= locals.editProduct && editProduct.category_id == 5 ? "selected" : ""%> value="5">Frutal</option>
                        </select>
                        <% if (locals.errors && errors.category_id) { %>
                            <div class="text-danger">
                                <%= errors.category_id.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <!-- subir imagen del producto -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="img"> Imagen</label>
                        <input class="admin__input--img admin__input"  id="fieldInput"  name="img" type="file" id="img"  />
                    </div>
                    
                    <!-- cuidados del producto -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="care_level"> Cuidados</label>
                        <select class="admin__input" name="care_level" id="care_level" required>
                            <option <%= locals.editProduct && editProduct.care_level ==="Básico"     ? "selected" : ""%> value="Básico">Básico</option>
                            <option <%= locals.editProduct && editProduct.care_level ==="Intermedio" ? "selected" : ""%> value="Intermedio">Intermedio</option>
                            <option <%= locals.editProduct && editProduct.care_level ==="Experto"    ? "selected" : ""%> value="Experto">Experto</option>
                        </select>
                        <% if (locals.errors && errors.care_level) { %>
                            <div class="text-danger">
                                <%= errors.care_level.msg %> 
                            </div>
                        <% } %>    
                    </div>

                    <!-- stock  -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="stock">Stock</label>
                        <input class="admin__input" name="stock" type="number" id="stock"
                            min="0" max="1000" value="<%= locals.editProduct ?  editProduct.stock : '' %>" />
                        <% if (locals.errors && errors.stock) { %>
                            <div class="text-danger">
                                <%= errors.stock.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <!-- precio -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="price"> Precio </label>
                        <input class="admin__input" name="price" type="number" id="price" 
                            value="<%= locals.editProduct ? editProduct.price : 0 %>" step="100" />
                            <% if (locals.errors && errors.price) { %>
                                <div class="text-danger">
                                    <%= errors.price.msg %> 
                                </div>
                            <% } %>
                        </div>

                    <!-- label del producto -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="label"> Etiqueta del producto</label>
                        <select class="admin__input" name="label" id="label" >
                            <option <%= locals.editProduct && editProduct.label ==="none"        ? "selected" : ""%> value="none">None</option>
                            <option <%= locals.editProduct && editProduct.label ==="Oferta"      ? "selected" : ""%> value="Oferta">Oferta</option>
                            <option <%= locals.editProduct && editProduct.label ==="Mas vendida" ? "selected" : ""%> value="Mas vendida">Mas vendida</option>
                        </select>
                        <% if (locals.errors && errors.label) { %>
                            <div class="text-danger">
                                <%= errors.label.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- en oferta -->
                    <div class="adminForm__inputConteiner">
                        <label class="admin-form__label" for="discount_id"> Oferta </label>
                        <select class="admin__input" name="discount_id" id="discount_id" >
                            <option <%= locals.editProduct && editProduct.discount_id === 1 ? "selected" : ""%> value="1">None</option>
                            <option <%= locals.editProduct && editProduct.discount_id === 2 ? "selected" : ""%> value="2">Seleccion Primavera</option>
                        </select>
                        <% if (locals.errors && errors.label) { %>
                            <div class="text-danger">
                                <%= errors.label.msg %> 
                            </div>
                        <% } %>
                    </div>

                    <!-- boton de editar producto -->
                    <div class="grid-1-start">
                        <input class="admin__buttons--input   btnStyle2" type="submit" value="Editar" />
                    </div>
                    <!-- boton de eliminar el producto -->
                    <div>
                        <input class="admin__buttons--input btnStyle2" type="submit" value="Eliminar" 
                        formaction="/products/delete/<%= locals.editProduct ? editProduct.id : '' %>?_method=DELETE">
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/addProduct.js"></script>
</body>
</html>