<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
        <title>Editar Productos</title>
</head>

<body>
    <%- include('../partials/header') %>
        <!-- Sidebar -->
        <%- include('../partials/sidebarAdmin') %>
            <!-- Page content -->
            <div class="admin">
                <%- include('../partials/productsNav') %>

                    <h1>Administrar Productos</h1>
                    <h3>Agregá los articulos a la base de datos</h3>
                    <!-- si se esta creando un producto no muestra foto -->
                    <% if (locals.editProduct) { %>
                        <form action="/products/edit/<%= editProduct.id  %>?_method=PUT" method="post"
                            class="admin__form" enctype="multipart/form-data">
                    <% } else { %>
                        <form action="/products/create" method="post" class="admin__form"
                            enctype="multipart/form-data">
                        <% } %>

                        <% if (locals.editProduct) { %>
                            <div class="img-conteiner-edit flex-column">
                                <img class="img-edit" src="<%= editProduct.img %>"
                                    alt="<%= editProduct.name %>" />
                            </div>
                        <% } %>
                                <div class="admin-form__conteiner">
                                            <div class="admin__form--item" class="admin__form--item">
                                                <label class="admin-form__label" for="product-text">Ingresá el nombre
                                                    del
                                                    producto</label>
                                                <input class="admin__input" name="name" type="text"
                                                    id="product-text" required
                                                    value="<%= locals.editProduct ?  editProduct.name : '' %>"
                                                    minlength="4" maxlength="20" />
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="product-clasf">Ingresá la
                                                    categoría</label>
                                                <select class="admin__input" name="type" id="product-clasf" required>
                                                    <option value="1">Planta Floral</option>
                                                    <option value="2">Aromatica</option>
                                                    <option value="3">Arbusto</option>
                                                    <option value="4">Suculenta</option>
                                                    <option value="5">Frutal</option>
                                                </select>
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="careLevel">Seleccioná el
                                                    cuidado del
                                                    producto</label>
                                                <select class="admin__input" name="careLevel" id="careLevel" required>
                                                    <option value="Básico">Básico</option>
                                                    <option value="Intermedio">Intermedio</option>
                                                    <option value="Experto">Experto</option>
                                                </select>
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="product-description">Ingresá la
                                                    descripción del
                                                    producto</label>
                                                <textarea class="admin__input" class="admin__textarea" name="description"
                                                    id="product-description" cols="25" rows="4" maxlength="100">
                                <%= locals.editProduct ? editProduct.description : '' %></textarea>
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="stock">Stock del
                                                    producto</label>
                                                <input class="admin__input" name="stock" type="number"
                                                    id="stock"
                                                    value="<%= locals.editProduct ?  editProduct.stock : '' %>"
                                                    min="0" max="1000"
                                                    value="<%= locals.editProduct ?  editProduct.stock : '' %>"
                                                    required />
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="product-price">Ingresá el
                                                    precio del producto</label>
                                                <input class="admin__input" name="price" type="number"
                                                    id="product-price" min="500" required max="100000"
                                                    value="<%= locals.editProduct ? editProduct.price : '' %>"
                                                    step="100" />
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="label">Seleccionar una etiqueta
                                                    para el producto</label>
                                                <select class="admin__input" name="label" id="label" required>
                                                    <option value="none">None</option>
                                                    <option value="Oferta">Oferta</option>
                                                    <option value="Mas vendida">Mas vendida</option>
                                                </select>
                                            </div>
                                            <div class="admin__form--item">
                                                <label class="admin-form__label" for="product-image">Seleccioná la
                                                    imagen para el
                                                    producto</label>
                                                <input class="admin__input" name="img" type="file"
                                                    id="product-image" accept="/image*" />
                                            </div>




                                            <% if(locals.editProduct) { %>
                                                <div>
                                                    <input class="admin__buttons--input btnStyle2" type="submit"
                                                        value="Editar" />
                                                </div>
                                                <div>
                                                    <input class="admin__buttons--input btnStyle2" type="submit"
                                                        value="Eliminar"
                                                        formaction="/products/delete/<%= locals.editProduct ? editProduct.id : '' %>?_method=DELETE">
                                                </div>
                                                <% } else { %>
                                                    <div>
                                                        <input class="admin__buttons--input btnStyle2" type="reset"
                                                            value="Limpiar formulario" />
                                                    </div>
                                                    <div>
                                                        <input class="admin__buttons--input btnStyle2" type="submit"
                                                        value="Agregar" />
                                                    </div>
                                            <% } %> 
                                        </div>

                                </form>
</body>

</html>