<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Detalle del producto</title>
    </head>
<body>
    <%- include('../partials/header') %>

    <!-- Main -->
    <main>
        <section class="product-detail__section" data-id="<%= product.id %>">
            <figure class="column-1-of-2 product-detail__figure">
                <img class="product-detail__picture" src="<%= product.img %>" alt="Imagen Del Producto">
            </figure>
            <div class="column-2-of-2 product-detail__description">
                <div class="product-detail__name"><%= product.name %></div>
                <% if (product.discount_id == 1) { %>
                    <div class="product-detail__price--discount">$<%= (product.price * 0.7).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ".00" %></div>
                    <% } %>
                <div class="product-detail__price--original">$<%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ".00" %></div>
                <div class="product-detail__calification">
                    <div class="product-detail__calification-label">Buena</div>
                    <div class="product-detail__calification-line"></div>
                </div>
                <div class="product-detail__size">
                    <div class="product-detail__size-title"><strong>Size:</strong> <i>S</i></div>
                    <button id="small" class="product-detail__size-button">S</button>
                    <button id="medium" class="product-detail__size-button">M</button>
                    <button id="large" class="product-detail__size-button">L</button>
                    <button id="extra-large" class="product-detail__size-button">XL</button>
                </div>
                <div class="product-detail__color">
                    <div class="product-detail__color-title"><strong>Color:</strong> <i>Blanco</i></div>
                    <button id="white" class="product-detail__color-button product-detail__color-button--1" value="Blanco"></button>
                    <button id="brown" class="product-detail__color-button product-detail__color-button--2" value="Marrón"></button>
                    <button id="orange" class="product-detail__color-button product-detail__color-button--3" value="Naranja"></button>
                </div>                
                <div class="product-detail__quantity">
                    <button class="product-detail__button" type="submit">Agregar</button>
                    <div class="product-detail__quantity-selector">
                        <button class="product-detail__less-button" value="less"><i class="fa-solid fa-minus"></i></button>
                        <div class="product-detail__number-display">1</div>
                        <button class="product-detail__plus-button" value="plus"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-detail__features">
            <h2 class="product-detail__heading">Características:</h2>
            <p class="product-detail__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, esse! Explicabo exercitationem non possimus, eos culpa deserunt voluptatem optio placeat aut vero consectetur atque enim corporis quam quia deleniti! Quod.</p>
            <h2 class="product-detail__heading">Nivel De Cuidado: <%= product.care_level %> </h2>
            <p class="product-detail__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, esse! Explicabo exercitationem non possimus, eos culpa deserunt voluptatem optio placeat aut vero consectetur atque enim corporis quam quia deleniti! Quod.</p>
        </section>

        <!-- <section class="product-section">
            <div class="prod-detail">
                <figure class="prod-detail__slide">
                    <img src="<%= product.img %>" alt="<%= product.name %>">
                    <a href="#" class="prod-detail__prev">&#10094;</a>
                    <a href="#" class="prod-detail__next">&#10095;</a>
                </figure>
                <h2><%= product.name %></h2>
                <div class="flex-row">
                    <p class="prod-detail__price">$ <%= product.price - product.price * product.discount / 100 %> <span>$ <%= product.price %></span></p>
                    <button class="btn--comprar">Comprar</button>
                </div>
            </div>
            <div class="prod-desc">
                <p> <span class="bold">Descripción:</span>  <%= product.description %> </p>
                <p> <span class="bold">Nivel de cuidados:</span> <%= product.careLevel %></p>
                <p> <span class="bold">Categoría:</span> <%= product.type %></p>
                <div class="flex-row">
                    <div class="counter">
                        <span class="counter__minus">-</span>
                        <input class="counter__input" type="text" value="1"/>
                        <span class="counter__plus">+</span>
                    </div>
                    <button class="btn">Agrega al carrito</button>
                </div>
            </div>
        </section> -->

        <!-- Trending -->
        <h1 class="heading-primary">Mas vendidos</h2>
            <section class="most-selled">
                <% for (i = 0 ; i < 4 ; i++) { %>
                        <%- include('../partials/PlantCard.ejs', { data : products[i] }) %>
                    <% }; %> 
            </section>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>
    
    <!-- Script -->
    <script src="/js/productDetail.js"></script>
</body>
</html>
