<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Head -->
    <%- include('../partials/head') %>
</head>

<body>

    <!-- Header -->
    <%- include('../partials/header') %>
        
        <!-- Main -->
        <main>
            <div class="shop">
                <section class="shop__header">

                    <h1 class="heading-primary">Nuestras Plantas</h1>
                        <div></div>



                    <form action="/products/shop" method="get" class="order-by__form">
                        <select name="orderBy" id="orderBy" class="order-by__input"  >
                            <option hidden selected>Ordenar por</option>
                            <option value="nameAsc">Orden A-Z</option>
                            <option value="nameDesc">Orden Z-A</option>
                            <option value="priceDesc">Mayor Precio</option>
                            <option value="priceAsc">Menor Precio</option>
                        </select>
                    </form>


                </section>
                <div class="shop-flex">
                    <div class="shop-filters">
                        <ul class="no-list-style shop-filters__list">
                            <li><a href="/products/shop">Todas las Plantas</a></li>
                            <li><a href="/products/shop?easyCare=Básico">Facil cuidado</a></li>
                            <li><a href="/products/shop?offer=2">plantas de oferta</a></li>
                            <li><a href="/products/shop?category=1">florales</a></li>
                            <li><a href="/products/shop?category=2">arbustos</a></li>
                        </ul>
                        <hr style="color:white">
                        <h5>filtrar por:</h5>
                        <ul class="no-list-style shop-filters__list">
                            <p id="carelvlTitle">nivel de cuidados:</p>
                            <form action="">
                                <ul class="no-list-style" id="careLvl">
                                    <li><input type="checkbox" name="Facil" id="">
                                        <label for="Facil">Fácil cuidado</label></li>
                                    <li><input type="checkbox" name="med" id="">
                                        <label for="med">Intermedio</label></li>
                                    <li><input type="checkbox" name="high" id="">
                                        <label for="high">Requieren mucho amor</label></li>
                                </ul>
                            </form>
                            <li>Tipo de planta</li>
                        </ul>
                    </div>
                    <section class="shop-wrapper">
                        <% products.forEach(prod=> { %>
                            <%- include('../partials/PlantCard.ejs', { data : prod }) %>
                        <% }); %>
                                <% if (pagesCant > 0) { %>
                                    <ul class="no-list-style shop-pages">
                                        <span>&lt</span>
                                        <% for( let i = 1; i <= pagesCant; i++ ) { %>
                                            <li class="shop-pages__link"> <%=i%> </li>
                                        <% } %>
                                        <span>&gt</span>
                                    </ul>
                                 
                                <% } %>
                    </section>

                </div>
                
            </div>
        </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>
    <script src="/js/shop.js"></script>
</body>
</html>
