<article class="plant-Card">
    <a class="link--primarycolor" href="/products/detail/<%= data.id %>">
        <div class="img plant-Card__img-conteiner">
            <img class="plant-card__img"  src= <%= data.img %>  alt=<%= data.name %>>
            <div class="plant-Card__background"></div>
        </div>
        <h4><%= data.name %></h4>
        <p class="subtitle">$<%= data.price %></p>
    </a>
    <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
</article>