<nav class="user-menu__nav">
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/contact/<%- user.id %>">Actualizá tus datos de contacto</a>
        </li> <!-- dir telefono y nacimiento -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/name/<%- user.id %> ">Corregí tus datos</a></li>
        <!-- cambiar nombre y apellido -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/password/<%- user.id %> ">Actualizá tu password</a></li>
        <!-- cambiar pass -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/avatar/<%- user.id %> ">Subí tu foto!</a></li> <!-- cambiar foto -->
    </ul>
    <ul>
        <li class="no-list-style">
            <a class="user-menu__links" href="/users/menu/<%- user.id %> ">Actualizá tu Mail</a></li>
        <!-- actualizar mail -->
    </ul>
</nav>