<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Head -->
        <%- include('../../partials/head') %>

        <title>Menu De Usuario</title>
    </head>
<body>

    <!-- Header -->
    <%- include('../../partials/header') %>

    <!-- Main -->
    <main>

        <div class="user-menu__placeholder">

            <!-- Left Column -->
            <%- include("../../partials/userMenuLeftColumn") %>

            <div class="right-column">
                <!-- Form -->
                <form id="users-form" action="/users/menu/password/?_method=PUT " method="POST" class="users-form">
                    <h2 class="user-menu__title-password">Contraseña</h2>
                    <!-- Name -->
                    <div class="users-form__field <%= locals.errors && errors.actualPass ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="actualPass">Contraseña Actual</label>
                        <input 
                            class="users-form__input" 
                            name="actualPass" 
                            id="actual-password" 
                            type="password"
                            placeholder="Ingresá tu contraseña actual"  
                            minlength="3" 
                            maxlength="20" 
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.actualPass) { %>
                            <div class="text-danger">
                                <%= errors.actualPass.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="users-form__field <%= locals.errors && errors.newPass ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="newPass">Contraseña Nueva</label>
                        <input 
                            class="users-form__input" 
                            name="newPass" 
                            id="new-password" 
                            type="password"
                            placeholder="Ingresá tu nueva contraseña"  
                            minlength="3" 
                            maxlength="20" 
                            
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.newPass) { %>
                            <div class="text-danger">
                                <%= errors.newPass.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="users-form__field <%= locals.errors && errors.newPassCheck ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="newPassCheck">Verificá Tu Nueva Contraseña</label>
                        <input 
                            class="users-form__input" 
                            name="newPassCheck" 
                            id="new-password-check" 
                            type="password"
                            placeholder="Verificá tu nueva contraseña" 
                            minlength="3" 
                            maxlength="20" 
                            
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.newPassCheck) { %>
                            <div class="text-danger">
                                <%= errors.newPassCheck.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- Confirmation Button -->
                    <input type="submit" value="Actualizar" class="btnStyle2">
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer') %>

    <!-- Script -->
    <script src="/js/usersMenuPassword.js"></script>
</body>
</html>
