<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <%- include('../../partials/head') %>

    <title>Menu De Usuario</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('../../partials/header') %>

    <!-- Main -->
    <main>
      <div class="user-menu__placeholder">
        <!-- Left Column -->
        <%- include("../../partials/userMenuLeftColumn") %>

        <div class="right-column">
          <div class="auto-flex">
            <!-- Form -->
            <form
              action="/users/menu/avatar/?_method=PUT "
              method="POST"
              enctype="multipart/form-data"
              class="users-form"
            >
              <h2 class="user-menu__title">Imagen De Perfil</h2>
              <div class="user-menu__avatar-placeholder">
                <img src="<%= currentUser.img %>" alt="Imagen De Perfil" class="user-menu__avatar"/>
              </div>
              <!-- Avatar -->
              <div class="users-form__field">
                <label class="users-form__label" for="img"
                  >Imagen De Perfil</label
                >
                <input
                  class="users-form__input"
                  accept=".jpg, .png"
                  name="img"
                  type="file"
                  placeholder="Subi tu avatar"
                  required
                />
              </div>
              <!-- Confirmation Button -->
              <div class="user-menu__confirmation-button">
                <input type="submit" value="Actualizar" class="btnStyle2" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer') %>
  </body>
</html>
