<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Menu usuario</title>
    </head>
<body>
    <%- include('../../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <div class="user-menu-header">
            <img src="<%- user.img %> " alt="imagen de usuario" class="user-menu__img">
            <!-- Aqui va el texto principal de la pagina -->
            <h1 class="user-menu__title">Bienvenido <%- user.first_name + " " + user.last_name %> </h1>
        </div>

        <div class='flex-column-to-RowDekstop'>

            <%- include('../../partials/userMenuNav.ejs') %>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de sign up -->
                <form id="users-form" action="/users/menu/password/?_method=PUT " method="POST" class="users-form">
                    <!-- Ingresar el nombre -->
                    <div class="users-form__field <%= locals.errors && errors.actualPass ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="actualPass">Password actual</label>
                        <input 
                            class="users-form__input" 
                            name="actualPass" 
                            id="actual-password" 
                            type="password"
                            placeholder="Ingresá tu pass actual"  
                            minlength="3" 
                            maxlength="20" 
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.actualPass) { %>
                            <div class="text-danger">
                                <%= errors.actualPass.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="users-form__field <%= locals.errors && errors.newPass ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="newPass">Nueva password</label>
                        <input 
                            class="users-form__input" 
                            name="newPass" 
                            id="new-password" 
                            type="password"
                            placeholder="Ingresá tu nueva password"  
                            minlength="3" 
                            maxlength="20" 
                            
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.newPass) { %>
                            <div class="text-danger">
                                <%= errors.newPass.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="users-form__field <%= locals.errors && errors.newPassCheck ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="newPassCheck">Repetí la contraseña</label>
                        <input 
                            class="users-form__input" 
                            name="newPassCheck" 
                            id="new-password-check" 
                            type="password"
                            placeholder="Repetí tu nueva password" 
                            minlength="3" 
                            maxlength="20" 
                            
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.newPassCheck) { %>
                            <div class="text-danger">
                                <%= errors.newPassCheck.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- Boton de iniciar sesion -->
                    <input type="submit" value="Actualizar" class="btnStyle2">
                </form>

            </div>
    </div>
    
    </main>

    <!-- aca arranca el footer -->
    <%- include('../../partials/footer') %>
    <script src="/js/usersMenuPassword.js"></script>
</body>
</html>
