<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Head -->
        <%- include('../../partials/head') %>

        <title>Menu De Usuario</title>
    </head>
<body>

    <!-- Header -->
    <%- include('../../partials/header') %>

    <!-- Main -->
    <main>

        <div class="user-menu__placeholder">

            <!-- Left Column -->
            <%- include("../../partials/userMenuLeftColumn") %>

            <!-- Loader
            <div class="user-menu__loader">
                <span class="user-menu__loader-circle"></span>
                <span class="user-menu__loader-circle"></span>
            </div> -->

            <div class="right-column">
                <!-- Form -->
                <form id="users-form" action="/users/menu/contact/?_method=PUT " method="POST" class="users-form">
                    <h2 class="user-menu__title-contact">Dirección</h2>
                    <!-- Street -->
                    <div class="address-form">
                        <div id="div_street" class="users-form__field <%= locals.errors && errors.street ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="street">Calle</label>
                            <input 
                                id="street" 
                                class="users-form__input" 
                                name="street" 
                                type="text"
                                placeholder="Ingresá tu calle" 
                                value="<%= user.address[0].street ? user.address[0].street : null %>" 
                                
                                maxlength="100"
                            >
                            <i class="fa-solid fa-circle-check"></i>
                            <i class="fa-solid fa-circle-exclamation"></i>
                            <% if (locals.errors && errors.street) { %>
                                <div class="text-danger">
                                    <%= errors.street.msg %> 
                                </div>
                            <% } %>
                        </div>
                        <!-- Number -->
                        <div id="div_number" class="users-form__field <%= locals.errors && errors.number ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="number">Número</label>
                            <input 
                                id="number" 
                                class="users-form__input" 
                                name="number" 
                                type="number"
                                placeholder="Ingresá el número de la calle" 
                                value="<%= user.address[0].number ? user.address[0].number : null %>"                                 
                                max="9999999999"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.number) { %>
                                    <div class="text-danger">
                                        <%= errors.number.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!-- State -->
                        <div id="div_state" class="users-form__field <%= locals.errors && errors.state ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="state">Provincia</label>
                            <input 
                                id="state" 
                                class="users-form__input" 
                                name="state" 
                                type="text"
                                placeholder="Ingresá tu estado o provincia" 
                                value="<%= user.address[0].state ? user.address[0].state : null %>" 
                        
                                maxlength="40"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.state) { %>
                                    <div class="text-danger">
                                        <%= errors.state.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!-- City -->
                        <div id="div_city" class="users-form__field <%= locals.errors && errors.city ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="city">Ciudad</label>
                            <input 
                                id="city" 
                                class="users-form__input" 
                                name="city" 
                                type="text"
                                placeholder="Ingresá tu ciudad" 
                                value="<%= user.address[0].city ? user.address[0].city : null %>" 
                                
                                maxlength="40"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.city) { %>
                                    <div class="text-danger">
                                        <%= errors.city.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!-- Postal Code -->
                        <div id="div_postal" class="users-form__field <%= locals.errors && errors.postal_code ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="postal_code">Codigo Postal</label>
                            <input 
                                id="postal-code" 
                                class="users-form__input" 
                                name="postal_code" 
                                type="text"
                                placeholder="Ingresá tu código postal" 
                                value="<%= user.address[0].postal_code ? user.address[0].postal_code : null %>" 
            
                                maxlength="10"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.postal_code) { %>
                                    <div class="text-danger">
                                        <%= errors.postal_code.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!-- Mobile -->
                        <div id="div_mobile" class="users-form__field <%= locals.errors && errors.mobile ? "inputFailure" : "" %>">
                            <label class="users-form__label" for="mobile">Telefono</label>
                            <input 
                                id="mobile" 
                                class="users-form__input" 
                                name="mobile" 
                                type="number"
                                placeholder="Ingresá tu telefono" 
                                value="<%= user.mobile ? user.mobile : null %>" 
                                maxlength="20"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.mobile) { %>
                                    <div class="text-danger">
                                        <%= errors.mobile.msg %> 
                                    </div>
                                <% } %>
                        </div>
                    </div>
                    <!-- Confirmation Button -->
                    <div class="user-menu__confirmation-button">
                        <input type="submit" value="Actualizar" class="btnStyle2">
                    </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer') %>

    <!-- Script -->
    <script src="/js/usersMenuContact.js"></script>
</body>
</html>
