<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Menu usuario</title>
    </head>
<body>
    <%- include('../../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <div class="user-menu-header">
            <img src="<%- user.img %> " alt="imagen de usuario" class="user-menu__img">

            <h1 class="user-menu__title">Bienvenido <%- user.first_name + " " + user.last_name %> </h1>
        </div>

        <div class='flex-column-to-RowDekstop'>

            <%- include('../../partials/userMenuNav.ejs') %>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de sign up -->
                <form id="users-form" action="/users/menu/contact/?_method=PUT " method="POST" class="users-form">
                    <h3>Completá tus datos de contacto</h3>
                    <!-- Ingresar la calle -->
                    <div class="address-form">
                        <div id="div_street" class="users-form__field <%= locals.errors && errors.street ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="street">Calle</label>
                            <input 
                                id="street" 
                                class="users-form__input" 
                                name="street" 
                                type="text"
                                placeholder="Ingresá tu calle" 
                                value="<%= locals.oldData ? oldData.street : null %>" 
                                
                                maxlength="100"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.street) { %>
                                    <div class="text-danger">
                                        <%= errors.street.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!--  ingresar altura de calle -->
                        <div id="div_number" class="users-form__field <%= locals.errors && errors.number ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="number">Número</label>
                            <input 
                                id="number" 
                                class="users-form__input" 
                                name="number" 
                                type="number"
                                placeholder="Ingresá el número de la calle" 
                                value="<%= locals.oldData? oldData.number : null %>" 
                               
                                max="9999999999"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.number) { %>
                                    <div class="text-danger">
                                        <%= errors.number.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!--  ingresar estado o provincia -->
                        <div id="div_state" class="users-form__field <%= locals.errors && errors.state ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="state">Provincia</label>
                            <input 
                                id="state" 
                                class="users-form__input" 
                                name="state" 
                                type="text"
                                placeholder="Ingresá tu estado o provincia" 
                                value="<%= locals.oldData  ? oldData.state : null %>" 
                        
                                maxlength="40"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.state) { %>
                                    <div class="text-danger">
                                        <%= errors.state.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!--  ingresar Ciudad -->
                        <div id="div_city" class="users-form__field <%= locals.errors && errors.city ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="city">Ciudad</label>
                            <input 
                                id="city" 
                                class="users-form__input" 
                                name="city" 
                                type="text"
                                placeholder="Ingresá tu ciudad" 
                                value="<%= locals.oldData ? oldData.city : null%>" 
                                
                                maxlength="40"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.city) { %>
                                    <div class="text-danger">
                                        <%= errors.city.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!--  ingresar codigo postal -->
                        <div id="div_postal" class="users-form__field <%= locals.errors && errors.postal_code ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="postal_code">Codigo Postal</label>
                            <input 
                                id="postal-code" 
                                class="users-form__input" 
                                name="postal_code" 
                                type="text"
                                placeholder="Ingresá tu código postal" 
                                value="<%= locals.oldData ? oldData.postal_code : "" %>" 
            
                                maxlength="10"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.postal_code) { %>
                                    <div class="text-danger">
                                        <%= errors.postal_code.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!--  ingresar telefono -->
                        <div id="div_mobile" class="users-form__field <%= locals.errors && errors.mobile ? "inputFailure" : "inputSuccess" %>">
                            <label class="users-form__label" for="mobile">Telefono</label>
                            <input 
                                id="mobile" 
                                class="users-form__input" 
                                name="mobile" 
                                type="number"
                                placeholder="Ingresá tu telefono" 
                                value="<%= locals.oldData ? oldData.mobile : null  %>" 
                                maxlength="20"
                            >
                                <i class="fa-solid fa-circle-check"></i>
                                <i class="fa-solid fa-circle-exclamation"></i>
                                <% if (locals.errors && errors.mobile) { %>
                                    <div class="text-danger">
                                        <%= errors.mobile.msg %> 
                                    </div>
                                <% } %>
                        </div>
                        <!-- Boton de iniciar sesion -->
                        <input type="submit" value="Actualizar" class="btnStyle2">
                    </div>
                </form>
                
            </div>
        </div>

    
    </main>

    <!-- aca arranca el footer -->
    <%- include('../../partials/footer') %>
    <script src="/js/usersMenuContact.js"></script>
</body>
</html>
