<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Head -->
        <%- include('../../partials/head') %>

        <title>Menu De Usuario</title>
    </head>
<body>

    <!-- Header -->
    <%- include('../../partials/header') %>

    <!-- Main -->
    <main>

        <div class="user-menu__placeholder">

            <!-- Left Column -->
            <%- include("../../partials/userMenuLeftColumn") %>

            <!-- Loader
            <div class="user-menu__loader">
                <span class="user-menu__loader-circle"></span>
                <span class="user-menu__loader-circle"></span>
            </div> -->

            <div class="right-column">
                <!-- Form -->
                <form id="users-form" name="users-form" action="/users/menu/name?_method=PUT " method="POST" class="users-form">
                    <h2 class="user-menu__title-user">Informaci칩n De Usuario</h2>
                    <!-- First Name -->
                    <div id="div-1" class="users-form__field <%= locals.errors && errors.first_name ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="firstName">Nombre</label>
                        <input 
                            class="users-form__input " 
                            name="first_name" 
                            id="first_name"
                            type="text"
                            placeholder="Ingres치 tu nombre" 
                            value="<%- user.first_name %> " 
                            minlength="3" 
                            maxlength="20"
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.first_name) { %>
                            <div class="text-danger">
                                <%= errors.first_name.msg %> 
                            </div>
                        <% } %>
                        </div>
                    
                    <!-- Last Name -->
                    <div class="users-form__field <%= locals.errors && errors.last_name ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="last_name">Apellido</label>
                        <input 
                            class="users-form__input" 
                            name="last_name" 
                            id="last_name" 
                            type="text"
                            placeholder="Ingres치 tu apellido" 
                            value="<%- user.last_name %>" 
                            minlength="3" 
                            maxlength="20"
                        >
                        <i class="fa-solid fa-circle-check"></i>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <% if (locals.errors && errors.last_name) { %>
                            <div class="text-danger">
                                <%= errors.last_name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="users-form__field <%= locals.errors && errors.date_of_birth ? "inputFailure" : "inputSuccess" %>">
                        <label class="users-form__label" for="date_of_birth">Fecha De Nacimiento</label>
                        <input 
                            class="users-form__input" 
                            name="date_of_birth" 
                            id="date_of_birth"
                            type="date"
                            placeholder="Ingres치 tu fecha de nacimiento"  
                            min="1900-01-01"
                            max="2020-01-01"
                            value="<%= user.date_of_birth ? user.date_of_birth : "" %>"
                        >
                        <% if (locals.errors && errors.date_of_birth) { %>
                            <div class="text-danger">
                                <%= errors.date_of_birth.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <!-- Confirmation Button -->
                    <div class="user-menu__confirmation-button">
                        <input form="users-form" type="submit" value="Actualizar" class="btnStyle2">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../../partials/footer') %>

    <!-- Script -->
    <script src="/js/usersMenuBasicData.js"></script>
</body>
</html>
