<article class="plant-Card" data-id="<%= data.id %>">
    <a id="cardWrapper" class="link--primarycolor" href="/products/detail/<%= data.id %>">
        <div class="img plant-Card__img-conteiner">
            <img class="plant-card__img"  src= <%= data.img %>  alt=<%= data.name %>>
            <div class="plant-Card__background"></div>

            <% if (data.label == 'Mas Vendida') { %>
                <div class="plant-card__label"> <%= data.label %> </div>
                <% } else if (data.discount_id == 2) { %>
                <div class="plant-card__label"> Oferta </div>
                <% } %> 
        </div>
        <h4><%= data.name %></h4>
        <p class="subtitle">$<%= data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ".00" %></p>
        <% if (data.discount_id == 2) { %>
            <% let descuento = data.price*1.15 %> 
            <p class="discount">$<%= descuento.toFixed(2) %></p>
        <% } %>
    </a>
    <hr class="green">
    <button class="btn btn--plant">Agregar Al Carrito</button>
    <!-- <button class="Button-Agregar-Carrito">Agregar al Carrito</button> -->
</article>
