<article class="plant-card" data-id="<%= data.id %>">
    <section class="plant-card__section-top">
        <% if (data.label == "Mas Vendida") { %>
            <div class="plant-card__discount-label"><%= data.label %></div>
        <% } else if (data.discount_id == 2) { %>
            <div class="plant-card__discount-label">En Oferta</div>
        <% } %>
        <div class="plant-card__picture-placeholder">
            <img src="<%= data.img %>" alt="<%= data.name %>" class="plant-card__picture">
        </div>
    </section>
    <section class="plant-card__section-bottom">
        <div class="plant-card__name"><%= data.name %></div>
        <div class="plant-card__price">Desde $<%= data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + ".00" %></div>
        <% if (data.discount_id == 2) { %>
            <% let discount = data.price * 1.15 %>
            <div class="plant-card__discount-price">$<%= discount.toFixed(2) %></div>
        <% } %>
        <a href="/products/detail/<%= data.id %>" class="plant-card__button">Ver Producto</a>
    </section>
</article>
