<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
    <title>Agregar Usuarios</title>
</head>
<body>
    <%- include('../partials/header') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebarAdmin') %>

    <!-- Page content -->
    <div class="admin">
        <%- include('../partials/adminUsersNav') %>
        
        <h1>Administrar Usuarios</h1>
        <h3>Agregá los usuarios a la base de datos</h3>
        <form action="/users/edit/<%- editUser.id %>?_method=PUT" method="post" class="admin__form">
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu nombre</label>
                <input class="admin__input" name="firstName" type="text" id="product-text" required value="<%= editUser.firstName %>" minlength="4" maxlength="20">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu apellido</label>
                <input class="admin__input" name="lastName" type="text" id="product-text" required value="<%= editUser.lastName %>" minlength="4" maxlength="20">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu email</label>
                <input class="admin__input" name="email" type="email" id="product-text" required value="<%= editUser.email %>" minlength="4" maxlength="20">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu número telefónico</label>
                <input class="admin__input" name="mobile" type="number" id="product-text" required value="<%= editUser.mobile %>" minlength="10" maxlength="15">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu dirección</label>
                <input class="admin__input" name="address" type="text" id="product-text" required value="<%= editUser.address %>" minlength="4" maxlength="40">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-text">Ingresá tu fecha de nacimiento</label>
                <input class="admin__input" name="birth" type="date" id="product-text" required value="<%= editUser.birth %>" minlength="4" maxlength="20">
            </div>
            <div class="admin__form--item">
                <label class="admin__label" for="product-image">Seleccioná tu foto de usuario</label>
                <input class="admin__input" value="<%= editUser.img %>" name="img" type="text" id="product-image" accept="/image*">
            </div>
            <!-- <div class="admin__form--item">
                <label class="admin__label" for="product-size">Ingresá el tamaño del articulo en cm</label>
                <input class="admin__input" name="size" type="number" id="product-size" min="50" max="100" value="50">
            </div> -->
            <div class="admin__buttons">
                <div>
                    <input class="admin__buttons--input btnStyle2" type="reset" value="Limpiar formulario">
                </div>
                <div>
                    <input class="admin__buttons--input btnStyle2" type="submit" value="Editar">
                </div>
            </div>
        </form>
        <form action="/users/delete/<%- editUser.id %>?_method=DELETE" method="post">
            <div>
                <input class="admin__buttons--input btnStyle2" type="submit" value="Eliminar">
            </div>
        </form>
    </div>
</body>
</html>