<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Registrate</title>
    </head>
<body>
    <%- include('../../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <div class="user-menu-header">
            <img src="<%- user.img %> " alt="imagen de usuario" class="user-menu__img">
            <!-- Aqui va el texto principal de la pagina -->
            <h1 class="user-menu__title">Bienvenido <%- user.firstName + " " + user.lastName %> </h1>
        </div>

        <div class='flex-row'>

            <%- include('../../partials/userMenuNav.ejs') %>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de sign up -->
                <form action="/users/name/<%- user.id %>?_method=PUT " method="POST" class="users-form">
                    <!-- Ingresar el nombre -->
                    <div class="users-form__field">
                        <label class="users-form__label" for="email">email</label>
                        <input class="users-form__input" name="email" type="email"
                            placeholder="Ingresá tu email" value="<%- user.email %> " minlength="3" maxlength="20" required>
                    </div>
                    <!-- Boton de iniciar sesion -->
                    <input type="submit" value="Actualizar" class="btnStyle2">
                </form>

            </div>
    </div>
    
    </main>

    <!-- aca arranca el footer -->
    <%- include('../../partials/footer') %>
</body>
</html>