<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Registrate</title>
    </head>
<body>
    <%- include('../../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <div class="user-menu-header">
            <img src="<%- user.img %> " alt="imagen de usuario" class="user-menu__img">
            <!-- Aqui va el texto principal de la pagina -->
            <h1 class="user-menu__title">Bienvenido <%- user.firstName + " " + user.lastName %> </h1>
        </div>

        <div class='flex-column-to-RowDekstop'>

            <%- include('../../partials/userMenuNav.ejs') %>
            <div class="auto-flex">
                <!-- Iniciamos el formulario de sign up -->
                <form action="/users/menu/avatar/?_method=PUT " method="POST" enctype="multipart/form-data" class="users-form">
                    <!-- Ingresar el nombre -->
                    <div class="users-form__field">
                        <label class="users-form__label" for="img">Subi tu foto</label>
                        <input class="users-form__input" accept='.jpg, .png' name="img" type="file"
                            placeholder="Subi tu avatar"  required>
                    </div>
                   
                    <!-- Boton de iniciar sesion -->
                    <input type="submit" value="Actualizar" class="btnStyle2">
                </form>


            </div>
    </div>
    
    </main>

    <!-- aca arranca el footer -->
    <%- include('../../partials/footer') %>
</body>
</html>