<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head') %>
        <title>Registrate</title>
    </head>
<body>
    <%- include('../../partials/header') %>
    <!-- Aca va el cuerpo la pagina -->
    <main>
        <div class="user-menu-header">
            <img src="<%- user.img %> " alt="imagen de usuario" class="user-menu__img">
            <!-- Aqui va el texto principal de la pagina -->
            <h1 class="user-menu__title">Bienvenido <%- user.firstName + " " + user.lastName %> </h1>
        </div>

            <%- include('../../partials/userMenuNav.ejs') %> 
    
    </main>

    <!-- aca arranca el footer -->
    <%- include('../../partials/footer') %>
</body>
</html>