<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
        <title>Agregar Usuarios</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- Admin Sidebar -->
    <%- include('../partials/sidebarAdmin') %>

    <!-- Page content -->
    <div class="admin">

        <!-- Titulo -->
        <h1>Administrar Usuarios</h1>

        <form action="/users/edit/<%- editUser.id %>?_method=PUT" enctype="multipart/form-data"
            method="post" class="admin__form">

            <!-- contenedor Grid -->
            <div class="admin-form__conteiner">

                <!-- subtitulo / accion -->
                <h3 id='subtitle' class="span-2">Editar usuario de la base de datos</br> id del Usuario: <%= locals.editUser ?  editUser.id : ''  %> </h3>

                <!-- nombre  -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.firstName ? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="firstName">Ingresá tu nombre</label>
                    <input 
                        class="admin__input" 
                        name="firstName" 
                        type="text" 
                        id="firstName" 
                        placeholder="Nombre" 
                        value="<%= locals.editUser ?  editUser.first_name : locals.firstName %>"
                    >
                
                    <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger">
                        <%= errors.firstName.msg %>
                    </div>
                    <% } %>
                </div>

                <!-- Apellido -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.lastName ? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="lastName">Ingresá tu apellido</label>
                    <input 
                        class="admin__input" 
                        name="lastName" 
                        type="text" 
                        id="lastName" 
                        placeholder="Apellido"  
                        value="<%= locals.editUser ?  editUser.last_name : '' %>"
                    >
                
                    <% if (locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %>
                    </div>
                    <% } %>
                </div>

                <!-- Email -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.email ? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="email">Ingresá tu email</label>
                    <input 
                        class="admin__input" 
                        name="email" 
                        type="email" 
                        id="email" 
                        placeholder="Email"
                        value="<%= locals.editUser ?  editUser.email : '' %>"
                    >
                
                    <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
                </div>

                <!-- Password -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.password? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="password">Ingresá tu Password</label>
                    <input 
                        class="admin__input" 
                        name="password" 
                        type="password" 
                        id="password" 
                        placeholder="Password"
                    >
                    <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
                </div>

                <!-- telefono -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.mobile? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="mobile">Ingresá tu número telefónico</label>
                    <input 
                        class="admin__input" 
                        name="mobile" 
                        type="number" 
                        id="mobile" 
                        placeholder="Teléfono" 
                        minlength="10"
                        maxlength="15" 
                        value="<%= locals.editUser ?  editUser.mobile : '' %>"
                    >
                
                    <% if (locals.errors && errors.mobile) { %>
                    <div class="text-danger">
                        <%= errors.mobile.msg %>
                    </div>
                    <% } %>
                </div>
                
                <!-- fecha de nacimiento -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.birth? " inputFailure" : "" %>">
                    <label class="admin-form__label" for="birth">Ingresá tu fecha de nacimiento</label>
                    <input 
                        class="admin__input" 
                        name="birth" 
                        type="date" 
                        id="birth" 
                        placeholder="Ingresá tu fecha de nacimiento"
                        minlength="4" 
                        maxlength="20" 
                        value="<%= locals.editUser ?  editUser.date_of_birth : '' %>"
                    >
                
                    <% if (locals.errors && errors.birth) { %>
                    <div class="text-danger">
                        <%= errors.birth.msg %>
                    </div>
                    <% } %>
                </div>

                <!-- Subir imagen -->
                <div class="adminForm__inputConteiner">
                    <label class="admin-form__label" for="avatar-image">Seleccioná tu foto de usuario</label>
                    <input 
                        class="admin__input" 
                        id="fieldInput" 
                        name="img" 
                        accept='.jpg, .png' 
                        type="file" 
                        id="avatar-image"
                        accept="/image*"
                    >
                </div>

                <div class="grid-1-start">
                    <input class="admin__buttons--input btnStyle2" type="submit" value="Editar" />
                </div>
                <!-- boton de eliminar el usuario -->
                <div>
                    <input class="admin__buttons--input btnStyle2" type="submit" value="Eliminar" 
                    formaction="/users/delete/<%= locals.editUser ? editUser.id : '' %>?_method=DELETE">
                </div>
            </div>
        </form>

        <!-- COMIENZA SECCION ADDRESS -->
        <form action="/users/editAddress/<%=editUser.id%>?_method=PUT" 
            method="post" class="admin__form" id="Admin-addressEdit">

            <!-- contenedor Grid -->
            <div class="admin-form__conteiner">
                <!-- subtitulo / accion -->
                <br>
                <h3 class="span-2" > Dirección de entrega </h3>

                <!-- prueba address -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.street ? "inputFailure" : "" %>">
                    <label class="admin-form__label" for="street">Calle</label>
                    <input id="street" class="admin__input" name="street" type="text"
                        placeholder="Ingresá tu Dirección" value="<%= editUser.address[0] ? editUser.address[0].street : "" %>" >
                        <% if (locals.errors && errors.street) { %>
                            <div class="text-danger">
                                <%= errors.street.msg %> 
                            </div>
                        <% } %>
                </div>
                <!--  ingresar altura de calle -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.number ? "inputFailure" : "" %>">
                    <label class="admin-form__label" for="number">Número</label>
                    <input id="number" class="admin__input" name="number" type="number"
                        placeholder="Ingresá tu Dirección" value="<%= editUser.address[0] ? editUser.address[0].number : "" %>" >
                        <% if (locals.errors && errors.number) { %>
                            <div class="text-danger">
                                <%= errors.number.msg %> 
                            </div>
                        <% } %>
                </div>
                <!--  ingresar estado o provincia -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.state ? "inputFailure" : "" %>">
                    <label class="admin-form__label" for="state">Provincia</label>
                    <input id="state" class="admin__input" name="state" type="text"
                        placeholder="Ingresá tu Dirección" value="<%= editUser.address[0]  ? editUser.address[0].state : ""  %>" >
                        <% if (locals.errors && errors.state) { %>
                            <div class="text-danger">
                                <%= errors.state.msg %> 
                            </div>
                        <% } %>
                </div>
                <!--  ingresar Ciudad -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.city ? "inputFailure" : "" %>">
                    <label class="admin-form__label" for="city">Ciudad</label>
                    <input id="city" class="admin__input" name="city" type="text"
                        placeholder="Ingresá tu Dirección" value="<%= editUser.address[0]  ? editUser.address[0].city : "" %>" >
                        <% if (locals.errors && errors.city) { %>
                            <div class="text-danger">
                                <%= errors.city.msg %> 
                            </div>
                        <% } %>
                </div>
                <!--  ingresar codigo postal -->
                <div class="adminForm__inputConteiner <%= locals.errors && errors.postal_code ? "inputFailure" : "" %>">
                    <label class="admin-form__label" for="postal_code">Codigo Postal</label>
                    <input id="postal-code" class="admin__input" name="postal_code" type="text"
                        placeholder="Ingresá tu Dirección" value="<%= editUser.address[0]  ? editUser.address[0].postal_code : "" %>" >
                        <% if (locals.errors && errors.postal_code) { %>
                            <div class="text-danger">
                                <%= errors.postal_code.msg %> 
                            </div>
                        <% } %>
                </div>

                <div class="grid-1-start">
                    <input class="admin__buttons--input btnStyle2" type="submit" value="Editar" />
                </div>
                <!-- fin de prueba address -->
            </div>
        </form>
        <button class="admin__buttons--input btnStyle2" id="showAddress"> Editar dirección de entrega</button>





    </div>
</body>
<script src="/js/editUser.js"></script>
</html>

