<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head menos title -->
    <%- include('../partials/head') %>
    <title>Listado de Usuarios</title>
</head>
<body>
    <%- include('../partials/header') %>
    <!-- Sidebar -->
    <%- include('../partials/sidebarAdmin') %>

    <!-- Page content -->
    <div class="admin">
        <%- include('../partials/adminUsersNav') %>
        <h1>Administrar Usuarios</h1>
        <h3>Estos son los usuarios de la base de datos</h3>

        <!-- CSS A PARTIR DE LINEA 531 EN STYLES -->
        <!-- <div class="admin__itemList">
            <img src="/img/plantas/Aglaonema.png" alt="Aglaonema" class="admin__itemImg">
            <span class="admin__itemName">Aglaonema</span>
            <span class="admin__itemStock">Stock</span>
        </div> -->
        <div class="table-conteiner">
        <table class="list-table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>imagen</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Nacimiento</th>
                    <th>Premisos</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    <%  users.forEach( user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><div class="list-table__img-conteiner"><img src= <%= user.img %> alt="userAvatar"></div></td>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.mobile %></td>
                        <td><%= user.date_of_birth %></td>
                        <td><%= user.user_category_id %></td>
                        <td>
                            <a href="/users/edit/<%= user.id %>" class="table-btn" >
                                <span>Editar<i class="fa-solid fa-pencil-alt"></i></span>
                            </a>
                        </td>
                    </tr>
                    <% } ) %>
            </tbody>
        </table>
    </div>
    </div>
        <!-- CSS A PARTIR DE LINEA 531 EN STYLES -->
</body>
</html>